@model Biblioteca.Models.Prestamo

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="row">
        <div class="col col-6 p-2">
            <div class="form-group">
                <label for="PersonaId">Seleccionar Lector</label>
                <select asp-for="PersonaId" class="form-control" asp-items="ViewBag.Personas" id="PersonaId">
                    <option value="">Seleccionar Lector</option>
                </select>
                <span asp-validation-for="PersonaId" class="text-danger"></span>
            </div>
        </div>

        <!-- <div class="col col-6 p-2">
            <div id="lectorInfo" class="border p-3">
                <p><strong>Nombre:</strong> <span id="lectorNombre"></span></p>
                <p><strong>CI:</strong> <span id="lectorCi"></span></p>
            </div>
        </div> -->

        <div class="col col-6 p-2">
            <div class="form-group">
                <label for="LibroId">Seleccionar Libro</label>
                <select asp-for="LibroId" class="form-control" asp-items="ViewBag.Libros" id="LibroId">
                    <option value="">Seleccionar libro</option>
                </select>
                <span asp-validation-for="LibroId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group d-flex justify-content-end">
            <div>
                <a class="btn btn-outline-secondary" asp-action="Index">Cancelar</a>
            </div>
            <input type="submit" value="Registrar Prestamo" class="btn btn-outline-success" />
        </div>
    </div>
</form>

@section Scripts {
}

